# Copyright (c) 2018 - 2019 Antmicro <www.antmicro.com>
# SPDX-License-Identifier: Apache-2.0

config SOC_LITEX_CV32E41P
	bool
	help
	  LiteX cv32e41p system implementation

config SOC
	default "litex_cv32e41p" if SOC_LITEX_CV32E41P
