# Copyright (c) 2018 - 2019 Antmicro <www.antmicro.com>
# SPDX-License-Identifier: Apache-2.0

if SOC_LITEX_CV32E41P

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 50000000


config NUM_IRQS
	default 32

endif # SOC_LITEX_CV32E41P
